@model IEnumerable<EFCProject.Models.Game>

    
<div class="image-grid">
    @foreach (var game in Model)
    {
        <div class="image-grid-item">
            <a href="@Url.Action("Details", "Games", new { id = game.Id })">
                <img src="~/Asset/Images/Games/@game.Image" alt="@game.Image" />
            </a>
        </div>
    }

</div>
