@page
@model ConfirmEmailChangeModel
@{
    ViewData["Title"] = "Confirmer le changement d'adresse e-mail.";
}

<div class="col-md-10 offset-md-1 contente  mt-3">
    <h1>@ViewData["Title"]</h1>
    <partial name="_StatusMessage" model="Model.StatusMessage" />
</div>
