@page
@model ExternalLoginModel
@{
    ViewData["Title"] = "extarnale login";
}

<div class="col-md-10 offset-md-1 contente  mt-3">
<h1>@ViewData["Title"]</h1>
<h2 id="external-login-title">Associate your @Model.ProviderDisplayName account.</h2>
<hr />

<p id="external-login-description" class="text-info">
    Vous vous êtes authentifié avec succès. <strong>@Model.ProviderDisplayName</strong>.
    Veuillez saisir une adresse e-mail pour ce site ci-dessous et cliquer sur le bouton S'inscrire pour terminer la connexion.
</p>

<div class="row">
    <div class="col-md-4">
        <form asp-page-handler="Confirmation" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating">
                <input asp-for="Input.Email" class="form-control" autocomplete="email" />
                <label asp-for="Input.Email" class="form-label"></label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <button type="submit" class="w-100 btn btn-lg btn-primary">Register</button>
        </form>
    </div>
</div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
