@page
@model LockoutModel
@{
	ViewData["Title"] = "bloquer";
}
<div class="col-md-10 offset-md-1 contente  mt-3">
<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">Ce compte a été verrouillé, veuillez réessayer plus tard.</p>
</header>
</div>
