@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset password confirmation";
}

<h1>@ViewData["Title"]</h1>
<div class="col-md-10 offset-md-1 contente  mt-3">
<p>
    Votre mot de passe est changer  <a asp-page="./Login">click ici pour log in</a>.
</p>
</div>