@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset password confirmation";
}

<h1>@ViewData["Title"]</h1>
<p>
    Votre mot de passe est changer  <a asp-page="./Login">click ici pour log in</a>.
</p>
