/***** Fonts amaranth *****/
@font-face {
    font-family: 'HyperSuper';
    src: url('../Asset/Font/HyperSuperRegular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HyperSuper';
    src: url('../Asset/Font/HyperSuperRegular3D.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'HyperSuper';
    src: url('../Asset/Font/HyperSuperItalic3D.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'HyperSuper';
    src: url('../Asset/Font/HyperSuperItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

html {
    font-family: 'HyperSuper';
    font-size: 30px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}
footer {
    background-color: #034159;
   
}

html {

    position: relative;
    min-height: 100%;
}

.logo {
    max-height: 90px;
    max-width: 90px;
    border-radius: 100%;
    border: 4px solid #02735E;
}

.navbar {

    background-color: #034159;
    font-size: 30px;
    
}


.nav-link {
    color: white;
}

body {

    background-color: #025951;
    font-family: 'HyperSuper';

    background-color: #025951;
    color: white;

}

.body-backGround {
    background-position: center;
    background-size: cover;
    background-image: url('../asset/images/image-background.png');
    color: white;
}
h1 {
    font-size: 60px;
}
p {
    font-size: 30px;
}

.contente {
    padding: 30px;
    background-color: #038C3E;
    border-radius: 10px;
    
}

img {
    border-radius: 8px;
}

/* Style pour la grille */
.image-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 2fr));
    gap: 24px;
    
}
.image-grid h2 {
    font-size: 25px;
}
.image-grid p {
    font-size: 20px;
}
.image-grid-item:hover {
    transform: scale(1.1); /* Lorsqu'on survole l'élément, augmentez l'échelle à 110% */
}

/* Style pour chaque élément de la grille (image) */
.image-grid-item {
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

    /* Style pour chaque image */
.image-grid-item img {
    width: 100%;
    height: auto;

    }
